.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav, .footer {
  opacity: 0.7;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  opacity: 0.7;
}

.title {
  margin: 4rem 0;
}
