.projectList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.imgContainer {
  /* width: 100%; */
}

.projectImg {
  display: flex;
  margin: auto;
  border: 0.5px solid black;
}

.project {
  margin: 1.5rem 0;
  /* margin: 1.5rem 2.25rem; */
  /* padding: 0.5rem; */
  padding: 0.5rem 0;
  /* border-radius: 1rem; */
  border: 1px solid transparent;
}

.project:hover {
  /* background-color: whitesmoke; */
}

.title {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: baseline;
}

.project > .title > .linkImgWrapper {
  display: none;
}

.project:hover > .title > .linkImgWrapper {
  display: block;
  margin-left: 0.4rem;
}

.tags {
  opacity: .7;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .project:hover {
    /* background-color: #302e2e; */
  }
}

@media only screen and (min-width: 768px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }

  .project {
    margin: 1.5rem 0;
  }
}
